.pincodeform {
    padding: 3rem;
    /* background-color: blue;  */
    display: flex;
    height: auto;
    width: auto;
    justify-content: center;
    align-items: center;
}
.pincode{
    
    border: 2px solid black;
    border-radius: 1rem;
    padding: 25px 20px 25px 20px;
    
}
.pincodetitle{
    text-align: center;
}